@model List<GoalPage.Models.Domain.Goal>
@{
}

<h2>My Goals</h2>
<table class="table table-striped table-responsive table-hover">
      <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>What You Know</th>
            <th>What's On The Market</th>
            <th>What You Need To Learn</th>
            <th>Start Date</th>
          </tr>
      </thead>
      <tbody>
          @foreach (var goal in Model)
        {
         <tr>
                <td>@goal.Id</td>
                <td>@goal.Name</td>
                <td>@goal.WhatYouKnow</td>
                <td>@goal.WhatsOnTheMarket</td>
                <td>@goal.WhatYouNeedToLearn</td>
                <td>@goal.CreatedDate.ToString("dd-mm-yyyy")</td>
         </tr>
        }

      </tbody>